.sidebar {
  li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-link {
    font-size: 1rem;
    align-items: baseline;

    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 1.5rem;
    }
  }

  .nav-item {
    &.active {
      a.nav-link {
        font-weight: 700;
      }
    }

    &.has-submenu {
      .nav-link {
        .icon {
          width: 20px;
          height: 20px;
          // &.right {
          mask: url(/node_modules/@icon/elegant-icons/icons/arrow_carrot-right.svg);
          -webkit-mask: url(/node_modules/@icon/elegant-icons/icons/arrow_carrot-right.svg);
          // }

          &.down {
            mask: url(/node_modules/@icon/elegant-icons/icons/arrow_carrot-down.svg);
            -webkit-mask: url(/node_modules/@icon/elegant-icons/icons/arrow_carrot-down.svg);
          }
        }
      }
    }
  }
}
