.copy-btn {
  height: 24px;
  padding: 2px;
  display: block;
  position: absolute;
  right: 16px;
  margin-top: 5px;
}

.hide {
  display: none;
}

.code-container {
  align-items: baseline;
}

code {
  word-break: break-word !important;
}

.code-block {
  // height: calc(100vh - (100vh * 40 / 100));
}
